[credential]
    helper = osxkeychain
[credential "https://stash.pros.com"]
    username = lgutierr
[credential "https://github.com/PROSPricing/step.git/"]
    username = Lgutierrez
    useHttpPath = true
[credential "https://github.com/Lgutierrez"]
    username = Lgutierrez
    useHttpPath = true
[user]
	name = Lgutierrez
	email = lgutierrez@prospricing.com
[core]
	excludesfile = /Users/lgutierrez/.gitignore_global
	editor = emacs
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
  web = "!f(){ url=$(git config --get remote.$1.url); git web--browse $url;}; f"
  open-modified =  "!f(){ git diff --name-only | xargs subl; };f"
  delete-merged-branches = "!f() { git checkout --quiet master && git branch --merged | grep --invert-match '\\*' | xargs -n 1 git branch --delete; git checkout --quiet @{-1}; }; f"
  fetch-all-and-prune = fetch --all --prune
  undo = reset --hard
  po = push origin --prune
  branch-point = merge-base branch master
  change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ $`echo $VAR` = \\\"$OLD\\\" ]]; then export $VAR=\\\"$NEW\\\"; fi\" $@; }; f "
[push]
	default = matching
[diff]
[merge]
[color]
  ui = auto
